<html>
    <head>
        <title>Django Mouna Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Mouna Blog</a></h1>
        </div>

        <div>
            <p>published: 10.04.2018, 09:47</p>
            <h2><a href="">ouverture société chinoise</a></h2>
            <p>l'ouverture commencera l'après-midi</p>
        </div>

        <div>
            <p>published: 10.04.2018, 09:48</p>
            <h2><a href="">météo</a></h2>
            <p>il est nuageux et l'air froid</p>
        </div>
    </body>
</html>
